body {
    font-family: Arial, sans-serif;
}

.formularz-platnosci {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formularz-platnosci h1 {
    text-align: center;
}

.formularz-platnosci label {
    display: block;
    margin-bottom: 5px;
}

.formularz-platnosci input {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formularz-platnosci button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formularz-platnosci button:hover {
    background-color: #0056b3;
}
