body {
    font-family: Arial, sans-serif;
}

.sukces {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
    text-align: center;
}
